@model DisasterReliefHub.Models.DwollaDonation

@{
    ViewBag.Title = "Donate";
}

<h2>@Model.Agency.Description</h2>
            <form>
                <p class="validateTips">All fields are required.</p>
                <fieldset>
                    <input type="hidden" name="client_id" id="client_id" value="" />
                    <input type="hidden" name="client_secret" id="client_secret" value="" />
                    <input type="hidden" name="destinationId" id="destinationId" value="{agencyemail}" />
                    <input type="hidden" name="destinationType" id="destinationType" value="Email" />
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="text ui-widget-content ui-corner-all" />
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="text ui-widget-content ui-corner-all" />
                    <label for="emailAddress">Email Address</label>
                    <input type="text" name="emailAddress" id="emailAddress" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
                <h6>Give</h6>
                <fieldset>
                    <label for="routingNumber">Your Bank Routing Number</label>
                    <input type="text" name="routingNumber" id="routingNumber" class="text ui-widget-content ui-corner-all" />
                    <label for="accountNumber">Your Bank Account Number</label>
                    <input type="text" name="accountNumber" id="accountNumber" class="text ui-widget-content ui-corner-all" />
                    <label for="accountType">Account Type</label>
                    <select name="emailAddress" id="emailAddress" class="select ui-widget-content ui-corner-all">
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                    </select>
                     <label for="amount">Amount to Give</label>
                    <input type="text" name="amount" id="amount" class="text ui-widget-content ui-corner-all" />
               </fieldset>
                <fieldset>
                    <p style="text-align:center"><input type="submit" value="Give" /></p>

                </fieldset>
           </form>
