@using DisasterReliefHub.Code
@using DisasterReliefHub.Domain.Models
@model List<DisasterReliefHub.Domain.Models.MissingPerson>
@{
    ViewBag.Title = "Index";
}
<h2>Are They Safe?</h2>
<h3>People with uknown status</h3>
<section>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (MissingPerson person in Model)
                {
                    <tr>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot></tfoot>
    </table>
    <br/>
    @if (SecurityHelper.IsCurrentUserAdmin())
    {
        <a class="btn btn-large" href="@Url.Action("Edit")">Notify Me</a>
    }
</section>

