@{
    ViewBag.Title = "Home Page";
}
<div id="start-modal" title="Surviving Hack The Midwest 2013" style="display:none;font-size:1.5em">
    <p>Please let your loved ones know that you have survived Hack The Midwest 2013!<br /><br /><ol><li>Please go to: <b style="color:#FF0000;font-family: Constantia">bit.ly/18NlY04</b> on your mobile device</li><li>Allow GeoLocation Data</li><li>Click the "I Am Safe" button</li><li>Alter the message that appears in your email client (if you so desire)</li><li>Send the email</li></ol></p>
</div>
<style>
    #start-modal ol li {
        margin-bottom: 20px;
    }

</style>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Disaster Relief Hub</h1>
                <h2>Connecting those in need with those who are not</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Recent Disasters</h3>
<ul id="disasters">
    <li class="clearfix">
        <img src="@Url.Content("http://a6e6fad2d184a3bcfa10-5c7e44dc9162544fc5faee10623905da.r26.cf1.rackcdn.com/earthquake.png")" />
        <h5>June 16, 2013 - <a href="@Url.Action("Index","Disaster", new{disasterId = 1})">Hack The Midwest Earthquake (Kansas City, KS)</a></h5>
        After 27+ grueling hours of app building, high-five-giving, and pizza eating…teams at Hack The Midwest presented their entries in hopes of winning a prize (or two)! With over 100 developers & 28 submissions…there were some amazing ideas! <b>Team Disaster</b> brought down the house and cleaned up!
    </li>
    <li class="clearfix">
        <img src="@Url.Content("http://a6e6fad2d184a3bcfa10-5c7e44dc9162544fc5faee10623905da.r26.cf1.rackcdn.com/fire.png")" />
        <h5>June 11, 2013 - <a href="#">Black Forest Fire (Black Forest, Colorado)</a></h5>
        The Black Forest fire is an ongoing forest fire that began near Highway 83 and Shoup Road in Black Forest, Colorado around 1:00 PM on June 11, 2013. As of the morning of June 13, 2013 several evacuations for the area have been ordered, and at least 360 structures have been lost according to The Denver Post. The evacuation area is 94,000 acres (147 sq mi; 380 km2) acres, 13,000 homes and 38,000 people. The fire has estimated to have currently burned over 15,000 acres (23 sq mi; 61 km2). There have been two fatalities as a result of this fire.
    </li>
    <li class="clearfix">
        <img src="http://a6e6fad2d184a3bcfa10-5c7e44dc9162544fc5faee10623905da.r26.cf1.rackcdn.com/tornado.png" />
        <h5>May 31, 2013 - <a href="#">El Reno Tornado (El Reno, Oklahoma)</a></h5>
        During the early evening of May 31, 2013, the widest and second-strongest tornado in recorded history, according to radar analysis, occurred over rural areas of central Oklahoma. Part of a larger weather system that produced dozens of tornadoes over the preceding days, the tornado initially touched down at 6:03 p.m. CDT (2303 UTC) about 8.3 miles (13.4 km) west-southwest of El Reno, Oklahoma. The storm rapidly grew and became more violent.
    </li>
</ul>
<h3>Why Disaster Relief Hub?</h3>
<ol id="reasons" class="round">
    <li class="one">
        <img src="http://a6e6fad2d184a3bcfa10-5c7e44dc9162544fc5faee10623905da.r26.cf1.rackcdn.com/approved.png" />
        <h5>Fully Vet Relief Agencies</h5>
        You can rest assured that if we list a relief agency on Disaster Relief Hub that they have been fully vetted.  There is always a chance that an agency can go rogue, but at least we prevent fly-by-night agencies from receiving funds.
    </li>

    <li class="two">
        <img src="http://a6e6fad2d184a3bcfa10-5c7e44dc9162544fc5faee10623905da.r26.cf1.rackcdn.com/money.png" />
        <h5>100% of Donations Go To Relief Efforts</h5>
        Did you know the average cost of processing donations is 3%?  This means on a $10 donation the relief agency would only receive $9.70.  This doesn't seem like a lot, but after 1,000 donations that is $300 NOT going to the cause.
    </li>

    <li class="three">
        <img src="http://a6e6fad2d184a3bcfa10-5c7e44dc9162544fc5faee10623905da.r26.cf1.rackcdn.com/hub.png" />
        <h5>One Place to Go</h5>
        Everytime there is a disaster it is often times hard to know where to go to keep up to date with it, and where you can go to give support.  Now you don't have to.  Just go to Disaster Relief Hub!
    </li>
</ol>
<style>
    #disasters li {
        list-style:none;
        width:95%;
    }
    #disasters li img {
        float: left;
        margin: 10px;
        width:100px;
    }
    #reasons li img {
        float: right;
        margin: 10px;
        width:50px;
    }
</style>