@{
    ViewBag.Title = "Disaster";
}

<h2>Hack The Midwest Earthquake (Kansas City, KS)</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">About</a></li>
    <li class=""><a href="#B" data-toggle="tab">Supporting Agencies</a></li>
    <li class=""><a href="#C" data-toggle="tab">Give</a></li>
    <li class=""><a href="#D" data-toggle="tab">Donations</a></li>
    <li class=""><a href="#E" data-toggle="tab">Who is Safe?</a></li>
</ul>
<div class="tabbable">
    <div class="tab-content">
        <div class="tab-pane active" id="A">
            <iframe style="float:right;margin-left:10px;margin-right:20px" width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=39.12323499981032,-94.74863671535867&amp;sspn=0.2634524841361534,0.41687771293984693&amp;t=h&amp;q=1702+Village+West+Parkway,+Kansas+City,+KS+66111&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=1702+Village+W+Pkwy,+Kansas+City,+Wyandotte,+Kansas+66111&amp;ll=39.121138,-94.823341&amp;spn=0.005827,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
            <p>After 27+ grueling hours of app building, high-five-giving, and pizza eating…teams at Hack The Midwest presented their entries in hopes of winning a prize (or two)!</p>
            <p>With over 100 developers & 28 submissions…there were some amazing ideas! We’re excited to bring you the first in a series of posts about Hack The Midwest!</p>
            <p>Today, we’ll be covering 4 of the winning entries for our “Special Award” categories as selected by our panel of judges. Check back this week for more updates – which include the remaining winners of “Special Award” categories and the best use of our partner APIs.</p>
            <br />
            <h3>Recent News (Positive/Negative)</h3>
            <ul id="news"></ul>
        </div>
        <div class="tab-pane" id="B">
            <ul id="agencies" class="clearfix">
                <li class="clearfix">
                    <img src="/Resources/images/agency_1.png" />
                    <h3>American Red Cross</h3>
                    <p>The American Red Cross exists to provide compassionate care to those in need. Our network of generous donors, volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world.</p>
                    <p>The Red Cross responds to approximately 70,000 disasters in the United States every year, ranging from home fires that affect a single family to hurricanes that affect tens of thousands, to earthquakes that impact millions. In these events, the Red Cross provides shelter, food, health and mental health services to help families and entire communities get back on their feet. Although the Red Cross is not a government agency, it is an essential part of the response when disaster strikes. We work in partnership with other agencies and organizations that provide services to disaster victims.</p>
                </li>
                <li class="clearfix">
                    <img src="/Resources/images/agency_2.png" />
                    <h3>Heart to Heart International</h3>
                    <p>Heart to Heart International has been creating a healthier world since 1992. Our mission is to improve global health through initiatives that connect people and resources to a world in need. Through our mobilization efforts, we provide medical education, deliver medical aid, respond to people in crisis and address community-health concerns around the globe.</p>
                </li>
                <li class="clearfix">
                    <img src="/Resources/images/agency_3.gif" />
                    <h3>Salvation Army</h3>
                    <p>Founded more than 130 years ago by William Booth, The Salvation Army is a religious and social service organization, a branch of the Christian Church dedicated to the battle against sin and despair.</p>
                    <p>There is an integrated ministry to body, mind and soul. The Army seeks not only to improve the physical environment and provide for material needs, but also to reveal the power of Christ's love. Its social services programs assist children, the elderly, families, and those battling addiction.</p>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="C">
            <h3>Give to support the Hack The Midwest Earthquake disaster</h3>
            <form>
                <p class="validateTips">All fields are required.</p>
                <h3>About You</h3>
                <fieldset>
                    <input type="hidden" name="client_id" id="client_id" value="" />
                    <input type="hidden" name="client_secret" id="client_secret" value="" />
                    <input type="hidden" name="destinationId" id="destinationId" value="{agencyemail}" />
                    <input type="hidden" name="destinationType" id="destinationType" value="Email" />
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="text ui-widget-content ui-corner-all" />
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="text ui-widget-content ui-corner-all" />
                    <label for="emailAddress">Email Address</label>
                    <input type="email" name="emailAddress" id="emailAddress" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
                <h3>Give</h3>
                <fieldset>
                    <label for="agencyId">Give To</label>
                    <select name="agencyId" id="agencyId" class="select ui-widget-content ui-corner-all">
                        <option value="1">American Red Cross</option>
                        <option value="2">Heart to Heart International</option>
                        <option value="3">Salvation Army</option>
                    </select>
                    <label for="routingNumber">Your Bank Routing Number</label>
                    <input type="text" name="routingNumber" id="routingNumber" class="text ui-widget-content ui-corner-all" />
                    <label for="accountNumber">Your Bank Account Number</label>
                    <input type="text" name="accountNumber" id="accountNumber" class="text ui-widget-content ui-corner-all" />
                    <label for="accountType">Account Type</label>
                    <select name="emailAddress" id="emailAddress" class="select ui-widget-content ui-corner-all">
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                    </select>
                    <label for="anonymous">Give Anonymously?</label>
                    <input type="checkbox" name="anonymous" id="anonymous" value="1" />
                    <label for="amount">How much would you like to give?</label>
                    $<input type="text" name="amount" id="amount" class="text ui-widget-content ui-corner-all" placeholder="0.00" />
                    <label for="notes">Message</label>
                    <textarea name="notes" id="notes" onkeyup="if(parseInt($(this).val().length)>250) {$(this).val($(this).val().substr(0,250)) }$('#chars').html(250-parseInt($(this).val().length)+' characters remaining')"></textarea><br /><span id="chars">250 characters remaining</span>
                </fieldset>
                <fieldset>
                    <p style="text-align:center"><input type="submit" value="Give" /></p>

                </fieldset>
           </form>
        </div>
        <div class="tab-pane" id="D">
            <p>List of Donations Made</p>
        </div>
        <div class="tab-pane" id="E">
            <p>List of Safe People</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.getJSON('http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q=https%3A%2F%2Fnews.google.com%2Fnews%2Fsearch%3Fq%3Dhackathon%26output%3Drss', function (data) {
            var items = [];
            $.each(data.responseData.feed.entries, function (key, feed) {
                $.ajax({
                    dataType: "json",
                    url: 'http://access.alchemyapi.com/calls/url/URLGetTextSentiment?jsonp=?&apikey=0cde067eab8748de7723828d1573bd43fc35553f&outputMode=json&url=' + escape(feed.link),
                    async:false,
                    success: function (response) {
                    var sentiment = response.docSentiment.type;
                    $('#news').append('<li><div class="sentiment"><img src="/Resources/images/' + sentiment + '.png" /></div><h6><a href="' + feed.link + '">' + feed.title + '</a></h6>' + feed.content + '</li>');
                    }
                });
            });
        });
    });
</script>
<style>
    #A {
        font-size: 1.5em;
    }
        #A p {
            margin-bottom: 20px;
        }
    #news {
    }
    #news li {
        list-style: none;height: 150px;overflow: hidden;border-bottom:1px solid #ccc;border-top:1px solid #fff;
    }
        #news li h6 {
            max-width: 685px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top:0px;
            padding:5px
        }
    #news li:first-of-type {
        border-top: none;
    }
    #news .sentiment {
        float: right;margin-top: 10px;margin-right:20px;
    }
    #news li table tr td:last-child font br:first-child {
        display: none;
    }
    #news li table tr td:last-child font div:first-of-type {
        display: none;
    }
    #agencies {
    }
        #agencies li {
            list-style: none;border-bottom:1px solid #ccc;border-top:1px solid #fff
        }
            #agencies li img {
                float: right;max-height:100px;margin:80px 20px 50px 20px
            }
    #agencies li:first-of-type {
        border-top: none;
    }
</style>
